@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
}
.dropdown-menu li {
  padding: 3px 10px;
}

.dropdown-menu li:hover {
  background-color: rgb(228, 118, 118);
}

.legend {
  display: none;
}
