@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}
#map {
  top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: rgb(172, 166, 177);
}

.dropdown-menu li {
  font-size: small;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.dropdown-menu {
  padding: 20px;
  background-color: rgb(229, 238, 235);
}
