@import "../../node_modules/ol/ol.css";
@import "../../node_modules/ol-ext/dist/ol-ext.css";
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.ol-control.ol-layerswitcher-image {
  font-size: 10px;
}

#map {
  position: absolute;
  /* top: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
}


.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}




/* .draw-btn {
  right: 60%;
  top: 0.5em;
  background-color: rgb(14, 187, 57);
  border: none;
 
  
}
.draw-btn:hover {
  right: 60%;
  top: 0.5em;
  background-color: rgb(14, 187, 57);
  border: none;
} */

.draw-app {
  top: 65px;
  left: .5em;
  
}
.ol-touch .draw-app {
  top: 80px;
}

.mousePosition {
  background-color: #6382af;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(224, 233, 224, 0.6); */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  
}

.locate {
  top: 100px;
  left: 0.5em;
}

/* CSS for the measuring tool */
.measuring {
  top: 135px;
  left: 0.5em;
}

.measureModal {
  left: auto;
  top: auto;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}

/* BASEMAP SWITCHER TOOL */

.dropdown-menu li:hover {
  background-color: rgb(172, 166, 177);
}

.dropdown-menu li {
  font-size: small;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.dropdown-menu {
  padding: 20px;
  background-color: rgb(229, 238, 235);
}

.dropdown {
  top: 170px;
  left: 0.5em;
}
/*-------------------------------------------------------------------------*/

a, i, b {
  color: #337ab7;
	text-decoration: none;
}
button i {
  color: #fff;
}
.ol-control.ol-bar .ol-control button i {
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
a.title {
  text-decoration: none;
}


.info {
  background:#f5f5f5;
	padding:0.5em;
	margin: 1em 0;
}
.info ul {
  margin:0;
}



.ol-attribution img {
  vertical-align:middle;
}

.layerSwitcher {
  display:inline-block;
	background:#cdf;
	padding:0.5em;
}
.btn {
  color:#fff;
	background:#369;
	padding:0.5em;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	margin: .5em .5em 0 0;
}

.block,
.options {
  display: table;
	margin: 0.5em;
	position: relative;
	z-index: 1;
	margin:1em;
}
.options {
  background: #def;
	padding: 0.5em;
}
.options ul {
  list-style: none;
	padding-left: 0.5em;
}

i[class*="icss-"] {
  position: relative;
  display:inline-block;
  font-style: normal;
  background-color:currentColor;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 1.5em;
}
i[class*="icss-"]:before, 
i[class*="icss-"]:after {
  content: "";
  border-width: 0; 
  position: absolute;
}
i.icss-book {
  width:1em;
  height:.8em;
  background-color: transparent; 
  margin: 0 .03em .08em 0;
}
i.icss-book:before {
  height: .8em;
  width: 0.7em;
  box-shadow: inset 0 0 0 0.15em, 
      inset 0 -.48em,
      .07em .07em;
  border: 0.07em solid transparent;
  border-width: 0 0.07em .07em 0;
  border-radius: .05em .15em .1em .1em / .05em .05em .1em .05em;
  transform: skewX(-20deg);
  left: 0.15em;
}
i.icss-book:after {
  width: .2em;
  height: .2em;
  background-color: transparent;
  border: 0.05em solid currentColor;
  border-color: currentColor transparent transparent currentColor;
  border-radius: 50%;
  transform: rotate(-45deg);
  top: 0.67em;
  left: .018em;
  box-shadow: .13em -.15em 0 -.05em,
      .51em -.33em 0 -.05em;
}
.experimental {
  color:#fff; 
  background: #f91; 
  padding:.2em .5em;
  display: inline-block;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin: -1em 0;
}

.ol-attribution ul {
  font-size: .8em;
}